.semaforo {
    width: 200px;
    height: 500px;
    background-color: black;
    margin: auto;
    border-radius: 10px;
}

.poste {
    width: 30px;
    height: 90px;
    margin: auto;
    background-color: black;
}